@model LoginRequest
@{
    ViewData["Title"] = "Log in";
}
<div class="account-pages my-5 pt-sm-5">
    <div class="justify-content-center row">
        <div class="col-md-8 col-lg-6 col-xl-5">
            <div class="overflow-hidden card">
                <div class="bg-primary-subtle">
                    <div class="row">
                        <div class="col col-7">
                            <div class="text-primary p-4">
                                <h4>Welcome &#128079;</h4>
                                <p>
                                    Login with your account!
                                </p>
                            </div>
                        </div>
                        <div class="col col-5 align-self-end">
                            <img src="~/lib/image/Login/profile-img.png" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
                <div class="pt-0 card-body">
                    <div class="auth-logo">
                        <div class="avatar-md profile-user-wid mb-4">
                            <span class="avatar-title rounded-circle bg-light">
                                <img src="~/lib/image/Login/Cshapr-icon-purple-logo.png" alt="CSharp Logo"
                                    class="rounded-circle" height="55">
                            </span>
                        </div>
                    </div>
                    <div class="p-2">
                        <form id="login" method="post" class="form-horizontal">
                            @Html.AntiForgeryToken()
                            <div class="form-floating mb-3">
                                <input asp-for="Email" class="form-control" autocomplete="username"
                                    placeholder="name@example.com" value="admin@gmail.com" />
                                <label asp-for="Email" class="form-label">Email</label>
                                <span asp-validation-for="Email" class="text-danger" />
                            </div>

                            <div class="form-floating mb-3">
                                <input asp-for="Password" class="form-control" autocomplete="current-password"
                                    placeholder="password" value="Admin123*" />
                                <label asp-for="Password" class="form-label">Password</label>
                                <span asp-validation-for="Password" class="text-danger" />
                            </div>

                            <div class="form-floating mb-3">
                                <label asp-for="EnteredCode">Enter the code: @Model.GeneratedCode</label>
                                <input asp-for="EnteredCode" class="form-control" autocomplete="off"
                                    placeholder="Enter the code" />
                                <span asp-validation-for="EnteredCode" class="text-danger"></span>
                            </div>

                            <input type="hidden" asp-for="GeneratedCode" />

                            <div class="mt-3 d-grid">
                                <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary"
                                    value="Submit">Login</button>
                            </div>
                        </form>

                        @* <div class="mt-4 text-center" disabled>
                            <p>
                                <a href="#" disabled>Forgot
                                    your
                                    password?</a>
                            </p>
                        </div> *@

                        <div class="my-form__actions">
                            <div class="my-form__row">
                                <span>Don't have an account?</span>
                                <a asp-controller="user" asp-action="Register">
                                    Sign Up Now
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}