@model string
<div class="text-center">
    <h1 class="text-info pt-4">Thank you for your order</h1>
    <p class="pb-3">...</p>
    <a asp-controller="Home" asp-action="Index">
        <button class="btn btn-primary btn-lg">Continue Shopping</button>
    </a>
    <a asp-controller="Order" asp-action="Index">
        <button class="btn btn-primary btn-lg">Order History</button>
    </a>
    <img src="" width="80%" />
</div>