@model ErrorModel
@{
    ViewData["Title"] = "Error";
    Layout = null;
}

<h1 class="text-danger">Error.</h1>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
@if (Model.Message != null)
{
    <h1>Request Timeout</h1>
    <p>Model.Message</p>
}
