@model ErrorModel
@{
    ViewData["Title"] = "Error";
    Layout = null;
}

<h1 class="text-danger">Error @Model.Message</h1>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
